/* CSS Document */

/* Placer les règles CSS en début de fichier */

@font-face {
    font-family: cestnormal; /* je peux donner un autre nom */
    src: url("../fonts/Nunito-Regular.ttf"); /*Attention à la CASSE des noms de fichiers */
    font-weight: 500;
}

@font-face {
    font-family: cestlight; /* je peux donner un autre nom */
    src: url("../fonts/Nunito-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: cestbold; /* je peux donner un autre nom */
    src: url("../fonts/Nunito-Bold.ttf");
    font-weight: 700;
}

/* Général */
body{
    background: #efefef;
    font-family: cestnormal,arial,sans-serif;
}

/* pas default, l'élement lien est souligné au passage de la souris */
/* Attention pas d'espace entre l'élément et la propriété */
a, a:hover, a:focus{
    text-decoration: none;
    color: #fff;
}

header{
    background: #00cc00;
    height:125px;
}

header h1{
    display: block;
    padding-top: 10px;
    font-family: cestlight,sans-serif;
    font-weight: 700;
    text-align: center;
}

header li{
    list-style-type: none;
    text-align: center;
    font-family: cestlight;
}

header nav{
    font-size: .9em;
}